{% load static %}

<!-- CSS Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<!-- CSS Custom File -->
<link href="{% static 'res_assign/homepage.css' %}" rel="stylesheet">



{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Import Excel Data into Database</h2>           
              <div class="clearfix"></div>
            </div>
            <br>
            
            <div class="x_content">
              <div class="col-md-8 col-sm-12 col-xs-12 form-group">      
              </div>
                    <input type="file" name="myfile" class="form-control">
                    <br>
                    <center>
                      <button type="submit" class="btn btn-success" >Upload</button> 
                      <!-- <button type="submit" class="btn btn-success" >Upload data using Pandas</button> -->
                      <!-- <button type="submit" class="btn btn-success" >Upload data using Import_Export_Lib</button>    -->
                    
                             
                    </center>        
                             <nav class="navbar navbar-expand-lg">
                            </div>
                        </div>
                    </div>
            
                </div>
  </form>   
  {% endblock %}